.App{

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.header{

  display:flex;
  flex-direction:row;
  margin-top:5%;
}

.logo{

  width:70px;
  height:70px;

}